<form 
  action="" 
  style="
    margin-left: 400px;
    margin-top: 50px;
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 400px;
">
<h2 style="margin-top: 0;">Login</h2>


<label for="">信箱</label>
<input formControlName="senderEmail" type="text" style="width: 100%; ">


<label for="">密碼</label>
<input formControlName="senderPassword" type="password"  style="width: 100%; " >

<a routerLink="/register">還沒有帳號?</a>
<br>

<button 
type="submit" 
style="
background-color: blueviolet; 
color: white; 
margin-top: 10px;
margin-left: 135px;
padding: 10px 20px; 
border: none; 
border-radius: 5px; 
width: 30%; 
font-size: 16px; 
cursor: pointer;
">
Login
</button>
</form>
